* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    --primary-color: #f5f5f5;
    --secondary-color: #d3d0d0;
    --tertiary-color: #D32525;
    --quaternary-color: #0075F2;
    --quinary-color: #1d1b1e;
    --sixth-color: #54c776;
    --border-radius: 0.75rem;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    position: relative;
}

span {
    font-size: 1em;
    font-weight: bold;
    text-align: center;
}

.button-top-right {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.2rem 1rem;
    background-color: var(--quaternary-color);
    color: white;
    border-radius: 0 15px 0 15px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    border: none;
    transition: 0.3s;
    font-size: 1em;
    letter-spacing: 0.2rem;
}

.button-top-right:hover {
    background-color: #1d1b1e;
}

.button-bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0.2rem 1rem;
    background-color: var(--sixth-color);
    color: white;
    border-radius: 15px 0 15px 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    border: none;
    transition: 0.3s;
    font-size: 1em;
    letter-spacing: 0.2rem;
}

.button-bottom-right:hover {
    background-color: #1d1b1e;
}

.button-top-left {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.2rem 1rem;
    background-color: var(--tertiary-color);
    color: white;
    border-radius: 15px 0 15px 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    border: none;
    transition: 0.3s;
    font-size: 1em;
    letter-spacing: 0.2rem;
}

.button-top-left:hover {
    background-color: #1d1b1e;
}

.button-bottom-left {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0.2rem 1rem;
    background-color: mediumpurple;
    color: white;
    border-radius: 0 15px 0 15px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    border: none;
    transition: 0.3s;
    font-size: 1em;
    letter-spacing: 0.2rem;
}

.button-bottom-left:hover {
    background-color: #1d1b1e;
}

.button-show {
    display: none;
    border-radius: 100%;
    cursor: pointer;
    background: var(--quaternary-color);
    color: white;
    border: none;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    width: 3rem;
    height: 3rem;
}

/* MAIN */
.main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80vh;
    width: 100%;
    padding: 0 2rem 2rem 2rem;
    overflow: visible;
}

.container {
    padding: 1rem;
}

/* CONTAINER LEFT */
.container-left {
    width: 47.5%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: visible;
}

/* MAP */
.map {
    position: relative;
    background-color: var(--primary-color);
    border-radius: var(--border-radius);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.div__map {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 3rem;
}

.supprimer__map {
    position: absolute;
    top: 25px;
    left: 25px;
    background-color: var(--tertiary-color);
    color: white;
    border: none;
    border-radius: 100%;
    cursor: pointer;
    transition: 0.3s;
}

.supprimer__map:hover {
    background-color: #1d1b1e;
}
.supprimer__map img {
    width: 2.5em;
    height: 2.5em;
    filter: invert(100%);
}

/* STATISTIQUES */
.map #map__stats {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    position: absolute;
    top: 1em;
    left: 0;
}

#map__stats .stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

#map__stats .stats p {
    font-size: 1em;
}

#map__stats .stats div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

/* LEGENDE */
#legende {
    background-color: rgba(0, 0, 0, 1);
    border-radius: var(--border-radius);
    color: white;
    z-index: 2;
    width: 50%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: start;
    position: absolute;
    left: -100%;
    transition: 0.3s;
    overflow-x: scroll;
}

.equipe-legende {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    font-size: 0.7em;
}

.carre-legende {
    width: 3em;
    height: 1.5em;
    border-radius: 0.25rem;
}

/* MAP LORIA SVG */
.mapLoria {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    padding: 1em;
}

.map__header {
    width: 100%;
    height: 15%;
    background-color: var(--primary-color);
}

.map__footer {
    width: 100%;
    height: 15%;
    background-color: var(--primary-color);
}

.hover {
    position: fixed;
    background-color: white;
    padding: 1em;
    border-radius: 1em;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    z-index: 3;
}

.mapLoria svg {
    width: 100%;
    height: 100%;
    border-radius: 2em;
    position: relative;
}

.btn__supprimer {
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--tertiary-color);
    color: white;
    border: none;
    border-radius: 100%;
    padding: 0.5em;
    cursor: pointer;
    transition: 0.3s;
}

.mapLoria svg path, svg rect {
    fill: white;
    transition: 0.3s;
    filter: drop-shadow(-1px 5px 5px rgba(50, 50, 0, 0.5));
    cursor: pointer;
    stroke : none;
}

.mapLoria text {
    cursor: pointer;
}

.mapLoria ellipse {
    fill: white;
    filter: drop-shadow(-1px 5px 5px rgba(50, 50, 0, 0.5));
}

/* NAME SIMULATION */
#name__simu {
    position: absolute;
    bottom: 1em;
    left: 0;
    display: flex;
    align-items: center;
    margin: 1em;
}

/* BOUTON DUPLIQUER */
#dupliquer {
    position: absolute;
    bottom: 1em;
    right: 48%;
    display: flex;
    align-items: center;
    background-color: var(--quaternary-color);
    border-radius: 100%;
    border: none;
    padding: 0.3em;
    cursor: pointer;
    transition: 0.3s;
}

#dupliquer img {
    filter: invert(100%);
    width: 2.2em;
    height: 2.2em;
}

#dupliquer:hover {
    background-color: #1d1b1e;
}

/* CONTAINER CENTER - ZONE TAMPON */
.container-center {
    width: auto;
    height: 100%;
    position: relative;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: visible;
}

/* ZONE TAMPON */
.tampon {
    background-color: var(--primary-color);
    border-radius: 1rem;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.tampon-button-mode {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    box-shadow: none;
}

.tampon h2 {
    height: 10%;
    font-size: 20px;
    padding: 1rem;
}

.tampon .tampon__content {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    row-gap: 2rem;
    padding: 20px;
    max-height: 90%;
}

/* CONTAINER DROIT */
.container-right {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: visible;
    transition: 0.3s;
}

/* SLIDER */
.date__container {
    margin-top: 2rem;
    width: 30rem;
    height: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.date {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.date__container button {
    color: var(--quinary-color);
    background-color: transparent;
    font-size: 20px;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    cursor: pointer;
}

input[type="range"] {
    -webkit-appearance: none;
    background: transparent;
    cursor: pointer;
    width: 80%;
    height: 50px;
}

input[type="range"]:focus {
    outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
    background-color: var(--secondary-color);
    border-radius: 0.5rem;
    height: 0.5rem;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    margin-top: -4px; /* Centers thumb on the track */
    background-color: var(--quinary-color);
    border-radius: 0.5rem;
    height: 1rem;
    width: 1rem;
}

input[type="range"]:focus::-webkit-slider-thumb {
    outline: 3px solid #3c3434;
    outline-offset: 0.125rem;
}

/* pour firefox */

input[type="range"]::-moz-range-track {
    background-color: var(--secondary-color);
    border-radius: 0.5rem;
    height: 0.5rem;
}

input[type="range"]::-moz-range-thumb {
    background-color: var(--quinary-color);
    border: none;
    border-radius: 0.5rem;
    height: 1rem;
    width: 1rem;
}

/* DESK VALUES */
.desk_values {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
    border-radius: 20px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.non-repertorie {
    justify-content: center;
    align-items: center;
}

.desk_values_team {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
    row-gap: 2rem;
    padding: 20px;
    max-height: 80%;
}

.desk_values h2 {
    text-align: center;
    margin: 20px 0;
}

.desk_values_info {
    height: auto;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2em 0 1em 0;
}

.desk_values_info div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
    padding: 10px;
    width: 23%;
}

.desk_values_info div h2 {
    margin: 0;
    font-size: 1em;
    font-weight: normal;
}

#button_desk_edit img {
    width: 2rem;
    height: 2rem;
}

/* CARD */
.person {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15rem;
    height: 9rem;
    font-size: 1.5em;
    text-align: center;
    z-index: 1;
    justify-self: center;
    align-self: center;
    justify-content: center;
    border-radius: var(--border-radius);
    background: #e9e9f3;
}

.card {
    width: 100%;
    height: 100%;
    padding: 1rem;
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card .card__content {
    color: var(--quinary-color);
    font-size: 0.8rem;
    margin-top: 1rem;
}

.card .card__title {
    text-decoration: none;
    color: var(--quinary-color);
    padding: 0;
    font-size: 0.8em;
    font-weight: bold;
}

.card .card__date {
    color: var(--quinary-color);
    font-size: 0.8rem;
}

.card .card__arrow__right {
    position: absolute;
    background: var(--sixth-color);
    padding: 0.3rem;
    border-top-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    bottom: 0;
    right: 0;
    transition: 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
}


.card .card__arrow__img {
    width: 1em;
    height: 1em;
    filter: invert(100%);
}

.card__button {
    cursor: pointer;
    transition: 0.3s;
    font-size: 2em;
}

.card__button:hover {
    background: #111;
    color: white;
}

.card__title:hover {
    color: var(--quaternary-color);
    text-decoration: underline;
}

.card__arrow__right:hover {
    background: #111;
}

#previsualisationBureau, #previsualisationTampon {
    display: none;
    border-radius: 0.75rem;
    border: 1px dashed var(--quinary-color);
}

/* FOOTER - COMMENTAIRE */
.footer {
    margin-top: 2rem;
    background-color: var(--primary-color);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 30%;
    overflow: visible;
    transition: 0.3s;
    text-align: center;
    border-radius: var(--border-radius);
}

#button-show-commentaire {
    margin-top: 3vh;
}

.commentaire-button-mode {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    box-shadow: none;
}

.footer h2 {
    margin: 5px;
    font-size: 20px;
    padding: 1rem;
}

.footer textarea {
    margin-top: 2rem;
    width: 100%;
    height: 70%;
    padding: 1rem;
    font-size: 1.3em;
    border: none;
    cursor: text;
    overflow-y: scroll;
    background-color: transparent;
    resize: none;
}

.footer textarea:focus {
    outline: none;
}

/* FORMULAIRE */

#flou {
    z-index: 4;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(4px);
    transition: visibility 0.5s;
}

#formulaire {
    z-index: 5;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: visibility 0.5s;
}

#coller {
    transition: 0.2s;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: royalblue;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
}

#coller:hover {
    background-color: #1d1b1e;
}

.close__img {
    width: 15px;
    height: 15px;
    filter: invert(100%);
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #fff;
    padding: 30px;
    border-radius: 20px;
    width: 600px;
}

.form .form__content {
    margin-top: 2em;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1em;
    overflow-y: scroll;
    height: 300px;
    width: 100%;
}

.form__content div {
    overflow: visible;
}

.title {
    font-size: 28px;
    color: royalblue;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
}

.sub-title {
    font-size: 20px;
    color: royalblue;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
}

.flex {
    display: flex;
    width: 100%;
    gap: 6px;
}

.flex label {
    width: 100%;
}

.form label {
    position: relative;
}

.form label .input {
    width: 100%;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
    font-size: 1.2em;
}

.form label .input + span {
    position: absolute;
    left: 10px;
    top: 15px;
    color: grey;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
    top: 15px;
    font-size: 0.9em;
}

.form label .input:focus + span, .form label .input:valid + span {
    top: 40px;
    font-size: 0.7em;
    font-weight: 600;
}

.form label .input:valid + span {
    color: var(--sixth-color);
}

.submit {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: var(--sixth-color);
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
}

.submit:hover {
    background-color: #1d1b1e;
}

.submit__del {
    transition: 0.2s;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: var(--tertiary-color);
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
}

.submit__del:hover {
    background-color: #1d1b1e;
}

.date__picker {
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
    height: 50px;
}

.close {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    color: white;
    background-color: var(--tertiary-color);
}

#div__checkbox {
    display: flex;
    gap: 10px;
}

#div__checkbox label {
    display: flex;
    align-items: center;
    gap: 5px;
}

#div__checkbox input {
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.card__apropos {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    background-color: #2e3136;
    border-radius: 1em;
    width: 100%;
    color: white;
}

.card__zonena {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 1em 0.5em 1.5em;
    background-color: #2e3136;
    border-radius: 0.5em;
    color: white;
    gap: 1em;
    position: relative;
    font-size: 15px;
    font-weight: bold;
}

.card__zonena div {
    display: flex;
    gap: 1em;
}

.card__zonena button {
    border: none;
    border-radius: 1em;
    padding: 0.5em;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s;
    color: white;
}

.card__zonena .reintegrer {
    background-color: royalblue;
}

.card__zonena .reintegrer:hover {
    background-color: #5d7ee5;
}

.card__zonena .supprimer__def {
    background-color: var(--tertiary-color);
}

.card__zonena .supprimer__def:hover {
    background-color: #fa3333;
}

/* FAST SAVE */
#button__fast__save {
    position: absolute;
    top: 5rem;
    right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    padding: 0.5rem;
    background-color: var(--sixth-color);
    border: none;
    border-radius: 100%;
    cursor: pointer;
    transition: 0.3s;
    z-index: 3;
}

#button__fast__save:hover {
    background-color: transparent;
}

#button__fast__save img {
    filter: invert(100);
    transition: 0.3s;
}

#button__fast__save:hover img {
    filter: invert(0);
}

/* OPTION MENU */
#option {
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    padding: 0.3rem;
    background-color: #1d1b1e;
    border: none;
    border-radius: 100%;
    cursor: pointer;
    transition: 0.3s;
    z-index: 3;
}

#option:hover {
    background-color: transparent;
}

#option:hover img {
    filter: invert(0);
}

#option img {
    filter: invert(1);
    transition: 0.3s;
}

#option__wrapper {
    position: absolute;
    top: 0;
    right: -50vw;
    width: 20vw;
    height: 100%;
    background-color: white;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    z-index: 5;
}

#option__img {
    width: 100%;
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#option__img img {
    width: 5rem;
    height: 5rem;
}

#option__img h1 {
    font-size: 1rem;
    color: #1d1b1e;
    font-style: italic;
}

#option__wrapper ul {
    display: flex;
    flex-direction: column;
}

#option__wrapper ul li {
    width: 100%;
    height: 6vh;
    font-size: 1.2em;
    cursor: pointer;
    transition: 0.3s;
    padding: 0.5em;
    color: #1d1b1e;
    display: flex;
    align-items: center;
}

#option__wrapper ul input[type="file"] {
    opacity: 0;
    width: 0;
    height: 0;
}

#option__wrapper ul input[type="file"] + label {
    width: 100%;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    align-items: center;
}


#option__wrapper ul li:hover {
    background-color: #1d1b1e;
    color: white;
}

#option__wrapper .option__title {
    background-color: #1d1b1e;
    color: white;
    cursor: default;
}

#ombre {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 4;
}

#option__wrapper .option__red {
    background-color: var(--tertiary-color);
    color: white;
}

#option__wrapper .option__blue {
    background-color: var(--quaternary-color);
    color: white;
    position: absolute;
    bottom: 0;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 3;
    width: 100vw;
    height: 20vh;
    overflow: visible;
    padding: 2rem 2rem 0 2rem;
}

/* HEADER GAUCHE */
.header-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 47.5%;
    height: 100%;
}

/* RADIO BUTTON */
.radio-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    padding: 0.2vh;
    font-size: 1.5vh;
}

.radio-group h2 {
    font-size: 2vh;
    font-weight: bold;
}

.radio-label {
    display: flex;
    align-items: center;
    padding: 0.5em;
    margin-bottom: 0.5em;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: background-color 0.2s, border-color 0.2s;
}

.radio-label:hover {
    background-color: #e6e6e6;
}

.radio-input {
    position: absolute;
    opacity: 0;
}

.radio-input:checked + .radio-label {
    background-color: #b6dcfa;
    border-color: var(--quaternary-color);
}

.radio-input:focus + .radio-label {
    outline: 2px solid var(--quaternary-color);
}

.radio-inner-circle {
    display: inline-block;
    width: 1em;
    height: 1em;
    border: 2px solid #888;
    border-radius: 50%;
    margin-right: 0.5em;
    transition: border-color 0.2s;
    position: relative;
}

.radio-label:hover .radio-inner-circle {
    border-color: #555;
}

.radio-input:checked + .radio-label .radio-inner-circle {
    border-color: var(--quaternary-color);
}

.radio-input:checked + .radio-label .radio-inner-circle::after {
    content: '';
    display: block;
    width: 0.5em;
    height: 0.5em;
    background-color: var(--quaternary-color);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* HEADER CENTER */
.header-center {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 25%;
    height: 100%;
}

/* RECHERCHE */
.header-center .search input[type="text"] {
    width: 100%;
    height: 100%;
    font-size: 1em;
    border: none;
    text-align: center;
    background-color: transparent;
    cursor: text;
    transition: all 0.3s;
    border-radius: 2em;
}

.header-center .search input[type="text"]:focus {
    outline: none;
}

.header-center .search .search-top {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 2em;
    width: 80%;
    height: 3em;
    box-shadow: 0 0.4rem #dfd9d9;
    background-color: #f3f3f3;
}

.header-center .search .search-top button {
    position: absolute;
    right: 0;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 1rem;
}

.header-center .search-prev-next {
    width: 140px;
}

.header-center .search-prev-next img {
    width: 30px;
    height: 30px;
}

.header-center .search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 35%;
    width: 100%;
    overflow: visible;
}

#search-button img {
    width: 1.5rem;
    height: 1.5rem;
}

.search-bottom {
    opacity: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 20px;
}

.search-bottom button {
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.search-bottom button img {
    width: 30px;
    height: 30px;
}

#search-bottom-person {
    display: none;
}

#search-bottom-team {
    display: none;
}

.autocomplete-items {
    display: none;
    position: absolute;
    width: 20em;
    background-color: #fff;
    border: 1px solid #d4d4d4;
    border-radius: var(--border-radius);
    top: 80%;
    z-index: 4;
}

.autocomplete-items li {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items li:hover {
    background-color: #e9e9e9;
}

.search-top {
    position: relative;
}

/* HEADER DROIT */
.header-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
}

/* NOTIFICATION */
@keyframes moveright {
    0% {
        left: -150%;
    }
    80% {
        left: 20%;
    }
    100% {
        left: 0;
    }
}

@keyframes moveleft {
    0% {
        left: 0;
    }
    20% {
        left: 20%;
    }
    100% {
        left: -80%;
    }
}

@keyframes anim {
    0% {
        width: 100%;
    }

    100% {
        width: 0;
    }
}

#notification {
    display: flex;
    flex-direction: column;
    gap: 1em;
    position: absolute;
    bottom: 1em;
    left: 3em;
    overflow: visible;
    z-index: 3;
}

.notifications-container {
    position: relative;
    width: 320px;
    height: auto;
    font-size: 0.875rem;
    line-height: 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    animation: moveright 0.5s ease-in-out forwards;
    transition: 0.3s;
}

.flex {
    display: flex;
}

.flex-shrink-0 {
    flex-shrink: 0;
}


/* SUCCESS */
.success {
    padding: 1rem;
    border-radius: 0.375rem;
    background-color: rgb(240 253 244);
}

.success:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    animation: anim 5s linear forwards;
    background-color: #1b9448;
}

.succes-svg {
    color: rgb(74 222 128);
    width: 1.25rem;
    height: 1.25rem;
}

.success-prompt-wrap {
    margin-left: 0.75rem;
}

.success-prompt-heading {
    font-weight: bold;
    color: rgb(22 101 52);
}

.success-prompt-prompt {
    margin-top: 0.5rem;
    color: rgb(21 128 61);
}

.success-button-container {
    display: flex;
    margin-top: 0.875rem;
    margin-bottom: -0.375rem;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
}

.success-button-main {
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color: #ECFDF5;
    color: rgb(22 101 52);
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: bold;
    border-radius: 0.375rem;
    border: none
}

.success-button-main:hover {
    background-color: #D1FAE5;
}

.success-button-secondary {
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-left: 0.75rem;
    background-color: #ECFDF5;
    color: #065F46;
    font-size: 0.875rem;
    line-height: 1.25rem;
    border-radius: 0.375rem;
    border: none;
}

/* ALERT */
.alert {
    background-color: rgb(254 252 232);
    border-left-width: 4px;
    border-color: rgb(250 204 21);
    border-radius: 0.375rem;
    padding: 1rem;
}

.alert:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    animation: anim 5s linear forwards;
    background-color: #FACA15;
}

.alert-svg {
    height: 1.25rem;
    width: 1.25rem;
    color: rgb(250 204 21);
}

.alert-prompt-wrap {
    margin-left: 0.75rem;
    color: rgb(202 138 4);
}

.warning-prompt-heading {
    font-weight: bold;
    color: rgb(141, 56, 0);
}

.alert-prompt-link {
    font-weight: 500;
    color: rgb(141, 56, 0);
    text-decoration: underline;
}

.alert-prompt-link:hover {
    color: rgb(202 138 4);
}

/* ERROR */
.error-alert {
    border-radius: 0.375rem;
    padding: 1rem;
    background-color: rgb(254 242 242);
}

.error-alert:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    animation: anim 5s linear forwards;
    background-color: #F87171;
}

.error-svg {
    color: #F87171;
    width: 1.25rem;
    height: 1.25rem;
}

.error-prompt-heading {
    color: #991B1B;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: bold;
}

.error-prompt-container {
    display: flex;
    flex-direction: column;
    margin-left: 1.25rem;
}

.error-prompt-wrap {
    margin-top: 0.5rem;
    color: #B91C1C;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.error-prompt-list {
    padding-left: 1.25rem;
    margin-top: 0.25rem;
    list-style-type: disc;
}

